body{
    background-color: #0C1E7F;
    display:flex;
    justify-content: center;
}
.navcontainer{
    background-color:#612897;
    display:block;
    width:265px;
    height: 100%;
    min-height: 100%;    
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    float: left;
}
.navbar{
    text-align: center;
}
